* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

#status {
    content: 'Status Will appear here';
    height: 30px;
    background-color: black;
    position: absolute;
    bottom: 0px;
    width: 100vw;
    color:brown;
    border-top: 2px solid brown;
    box-sizing: border-box;
    display: flex;
}

#status div {
    border-right: 1px solid brown;
    padding-right: 4px;
    padding-left: 4px;
}

#searchSection {
    content: 'Status Will appear here';
    height: 30px;
    background-color: black;
    width: 100vw;
    color:brown;
    border-bottom: 2px solid brown;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;

}

#dataTable {
    margin: 14px;
    margin-top: 10vh;
    box-sizing: border-box;
    border: 1px solid #000;
    
    border-collapse: collapse;
    &::before {
        content: 'Station Data';
        
        position: relative;
        border: 1px solid blue;
        font-weight: bold;
        color: #fff;
        background-color: blue;
        margin-bottom: 10px;
        top: -15px;
    }
    #span1 {
        writing-mode: tb-rl;
        transform: rotate(-180deg);
        background-color: green;
        color: white;
        width: 1rem;
    }
}
#dataTable tr:nth-child(even){
    background-color: rgb(78, 13, 17);
    color: white;
}
#jsonOutput {
    border: 2px solid green;
    padding: 24px;
    margin: 4px;
    margin-top: 30px;
    &:before {
        content: 'Raw Data';
        position: relative;
        border: 1px solid red;
        font-weight: bold;
        color: #fff;
        background-color: red;;
        top: -30px;
        margin-bottom: 10px;
    }
    
}
#title {
    display: flex;
    width: 100vw;
    /* flex-direction: column; */
    height: 10vh;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 2vh;
    
}
#title #logoContainer {
    flex-direction: row;
    align-self: flex-end;
    padding-right: 20px;
}

#logoContainer {
    width: 30vw;
    display: flex;
    flex-direction: row;
    gap: 2px;
    height: 20px;
  }
  .outer {
    box-sizing: border-box;
    border: 4px solid #000;
    padding: 25px;
    overflow: hidden;
    width: 110px;
  }
  .inner {
    font-size: 60px;
    padding: 0px;
    animation-name: assign;
    animation-iteration-count: infinite;
    margin-left: 0px;
  }
  
  .first {
    animation-duration: 1s
  }
  .second{
    animation-duration: 2s
  }
  .third {
    animation-duration: 2.5s
  }
  
  @keyframes assign {
    0% {
     margin-left: -300px;
      opacity: 0%;
    }
    60% {
      margin-left: 0px;
      opacity: 100%;
    }
    100%{
      opacity: 0%;
    }
  }
  